<div class="row">
    <div class="img"><img src="assets/img/vehiculo.png" alt=""></div>
    <div class="data ident">
        <div class="ffield">Vehículo:</div>
        <div class="fvalue">TA-1001</div>
    </div>
    <div class="data fields">
        <div class="frow">
            <div class="field">Tipo de vehículo</div>
            <div class="value">autos</div>
        </div>
        <div class="frow">
            <div class="field">Placas</div>
            <div class="value">xyz765</div>
        </div>
        <div class="frow">
            <div class="field">Soat</div>
            <div class="value">2000000</div>
        </div>
        <div class="frow">
            <div class="field">Fecha</div>
            <div class="value">31/07/18</div>
        </div>
    </div>
    <div class="data fields">
        <div class="field">Conductor asignado</div>
        <div class="value nombrecond">conductor de taxi nombre</div>
        <div class="btn asignar">Asignar +</div>
    </div>
    <div class="data fields">
        <div class="field">Ruta / Mapa</div>
        <div class="tramo">
            <div class="origin">Cali</div>
            <div class="destino">Bogota</div>
        </div>
        
    </div>
    
</div>