<div class="rowhead">
			<div class="add_conductor"><div class="plusicon">+</div>
			<div class="btntext">Añadir vehículo</div></div>
		</div>
		<div class="row">
			<div class="img"><img src="img/vehiculoicon.png" alt=""></div>
			<div class="data ident">
				<div class="ffield">Vehiculo:</div>
				<div class="fvalue">TA-1001</div>
				
			</div>
			<div class="data fields">
				<div class="frow">
					<div class="field">Tipo de vehículo</div>
					<div class="value">autobus</div>
				</div>
				<div class="frow">
					<div class="field">Placas</div>
					<div class="value">xyz891</div>
				</div>
				<div class="frow">
					<div class="field">Saat</div>
					<div class="value">2000000</div>
				</div>
				<div class="frow">
					<div class="field">Fecha</div>
					<div class="value">31/07/18 - 08:15</div>
				</div>
			</div>
			<div class="data fields">
				<div class="frow">
					<div class="field">Origen</div>
					<div class="value">Cali </div>
					<div class="cords"><div class="lat">3.45 ,</div>
					<div class="log">-76.53</div> (lat,long)</div>
				</div>
				<div class="frow">
					<div class="field">Origen</div>
					<div class="value">Bogota </div>
					<div class="cords"><div class="lat">4.71 ,</div>
					<div class="log">-74.0</div> (lat,long)</div>
				</div>
			
			</div>
			<div class="data fields">
				<div class="frow">
					<div class="field">Mapa:</div>
					<div class="mapicon"><img src="img/mapicon.png" alt="ver mapa"></div>
					
				</div>
			
			</div>
			<div class="data fields">
				<div class="frow">
					<div class="btngray"><img src="img/editicon.png" alt=""></div>
					<div class="btngray"><img src="img/deleteicon.png" alt=""></div>
				</div>
			
			</div>



			
			
		</div>